{% extends 'base.html' %}
{% block title %}About - Network Marketing{% endblock %}
{% block hero%}
{% endblock %}
{% block hero_title %}About Us{% endblock %}
{% block hero_description %}Learn more about our mission and vision.{% endblock %}
{% block content %}
    <section class="category-section">
        <h2 class="category-title" data-translate="title">About Us</h2>
        <p class="text-lg" data-translate="description">We are a network marketing company dedicated to empowering individuals through our unique business model. Our mission is to provide high-quality products and a sustainable business opportunity for everyone.</p>
        <p class="text-lg" data-translate="description">Join our community to achieve financial freedom and personal growth.</p>
    </section>
{% endblock %}