{% extends 'base.html' %}
{% block title %}About - Dinesh Ayurvedics{% endblock %}
{% block hero%}
{% endblock %}
{% block hero_title %}About Us{% endblock %}
{% block hero_description %}Learn more about our mission and vision.{% endblock %}
{% block content %}
    <section class="category-section">
        <h2 class="category-title" data-translate="title">About Us</h2>
        <p class="text-lg" data-translate="description">Ayurveda or Ayurvedic medicine is a system of traditional medicine native to India, which uses a range of treatments, including panchakarma ('5 actions'), yoga, massage, acupuncture and herbal medicine, to encourage health and wellbeing..</p>
        <p class="text-lg" data-translate="description">
You can reap a host of health benefits by incorporating Ayurvedic techniques. Additionally, Ayurveda helps to maintain a healthy weight, improve digestion, increase energy, lower stress, and fortify the immune system..</p>
    </section>
{% endblock %}